@font-face {
	font-family: 'A Titraj 1';
	src: url(../../assets/fonts/A%20Titraj%201-9982c27e76baec9df943216347041797.woff2) format('woff2'),
	url(../../assets/fonts/A%20Titraj%201-5b687c99e8e71aed2a6b0b950ac86ba8.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}