@font-face {
	font-family: 'Black Han Sans';
	src: url(../../assets/fonts/Black%20Han%20Sans-196afece57cdc61d932496a2b97aa429.woff2) format('woff2'),
	url(../../assets/fonts/Black%20Han%20Sans-59c4b09d21e709136f5d52aa5ce783b0.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}