/* ©©©©©©©©©©©©©©©©©©©©©©©©©All Rights are reserved by Muhammad Husain Abootalebi©©©©©©©©©©©©©©©©©©©©©©©©©©©©©©©©© */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ####################################### ↓ Navbar - Responsiveness ↓ ############################################ */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↓ Navbar Brand ↓ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Large Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

@media (min-width: 576px) {
  #navbar-logo-brand-span {
    width: 40px;
    height: 20px;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Large Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* θθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Small Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 576px) {
  #navbar-logo-brand-span {
    width: 50px;
    height: 30px;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Small Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↑ Navbar Brand ↑ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↓ Navbar > Collapse ↓ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Large Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

/* Navbar Toggler */

@media (min-width: 576px) {
  .navbar-toggler {
    display: none !important;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Large Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* θθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Small Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

/* Navbar Collapse Rectangle */

@media (max-width: 576px) {
  .navbar-toggler .collapse .show #MuhammadHusainAbootalebiNavBarCollapse {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Navbar > Nav */

@media (max-width: 576px) {
  #MuhammadHusainAbootalebi-Navbar-Navbar-Collapse-Nav {
    width: 100%;
  }
}

/* Navbar > Nav Item(s) */

@media (max-width: 576px) {
  .portfolio-nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Navbar Toggler */

@media (max-width: 576px) {
  .navbar-toggler {
    display: block !important;
  }
}

/* Navbar Collapse > Small Screen */

@media (max-width: 576px) {
  #MuhammadHusainAbootalebiNavBarCollapse {
    align-items: start;
  }
}

@media (max-width: 576px) {
  #MuhammadHusainAbootalebi-Contact-Me-Nav-Bar-Button {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Small Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↑ Navbar > Collapse ↑ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↓ Navbar > Parent ↓ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* OOOOOOOOOOOOOOO ↓ General Rules ↓ OOOOOOOOOOOOOOO */

#Muhammad-Husain-Aboutalebi-Portfolio {
  box-shadow: 0px 10px 60px 1px rgba(0,0,0,0.3);
  z-index: 1;
}

/* OOOOOOOOOOOOOOO ↑ General Rules ↑ OOOOOOOOOOOOOOO */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Large Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

@media (min-width: 576px) {
  #Muhammad-Husain-Aboutalebi-Portfolio {
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    position: fixed !important;
    width: 100%;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Large Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* θθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Small Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 576px) {
  #Muhammad-Husain-Aboutalebi-Portfolio {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    margin-right: 0px !important;
    position: static !important;
    z-index: 100 !important;
    transform: perspective(999999999999999px);
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Small Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↑ Navbar > Parent ↑ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* 💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛💛 */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↓ Navbar > Dropdowns > General ↓ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

.show > .dropdown-menu {
  display: block;
  max-height: 800px;
  visibility: visible;
}

.dropdown-menu {
  display: block;
  max-height: 0px;
  visibility: hidden;
  transition: all 0.5s linear;
  overflow: hidden;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Large Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Large Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* θθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθθ */

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↓ Small Screen ↓ <<<<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 576px) {
  #MUHAMMADHUSAINABOOTALEBI-dropdown-menu {
    padding: 0px !important;
    padding-top: 0px !important;
    margin: 0px !important;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>> ↑ Small Screen ↑ <<<<<<<<<<<<<<<<<<<<<<< */

/* ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ ↑ Navbar > Dropdowns > General ↑ ◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌◌ */

/* ####################################### ↑ Navbar - Responsiveness ↑ ########################################### */

