/* ©©©©©©©©©©©©©©© All Rights are reserved by Muhammad Husain Abootalebi ©©©©©©©©©©©©©©©©© */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ----------------------- ↓ General Rules ↓ ----------------------- */

.Certificate svg {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
}

.Certificate svg:hover {
  color: black !important;
  transition: all 500ms linear;
}

/* ----------------------- ↑ General Rules ↑ ----------------------- */

/* □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ */

/* ----------------------- ↓ Carousel Background ↓ ----------------------- */

/* >>>>>>>>>>>>>>>>>>>>>> ↓ Large Screen ↓ <<<<<<<<<<<<<<<<<<<<< */

@media (min-width: 576px) {
  #MuhammadHusainAbootalebi-Language-Skills_Carousels {
    background: url("../../../../assets/img/Illustrations/Hexagon_1.svg") left bottom / contain no-repeat;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>> ↑ Large Screen ↑ <<<<<<<<<<<<<<<<<<<<< */

/* ▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨▨ */

/* >>>>>>>>>>>>>>>>>>>>>> ↓ Small Screen ↓ <<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 576px) {
  #MuhammadHusainAbootalebi-Language-Skills_Carousels {
    background: url("../../../../assets/img/Illustrations/Hexagon_1.svg") center bottom / contain no-repeat;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>> ↑ Small Screen ↑ <<<<<<<<<<<<<<<<<<<<< */

/* ----------------------- ↑ Carousel Background ↑ ----------------------- */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯ */

/* ©©©©©©©©©©©©©©© All Rights are reserved by Muhammad Husain Abootalebi ©©©©©©©©©©©©©©©©© */

