@font-face {
	font-family: 'B Nazanin';
	src: url(../../assets/fonts/B%20Nazanin-fc9d6aefd409426cbdaa51b5376955c8.woff2) format('woff2'),
	url(../../assets/fonts/B%20Nazanin-83f845d5f90f9867413afa2a0ca84a7a.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}